<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 通过factoryBean创建复杂对象-->
    <bean class="factorybean.CalendarFactoryBean" id="calendarFactoryBean"/>
    <bean class="factorybean.ConnectionFactoryBean" id="connectionFactoryBean"/>

    <bean class="factorybean.SqlSessionFactoryBean" id="sqlSessionFactoryBean" />
</beans>